body {
	font-family: Tahoma, Geneva, sans-serif;
  	margin: 0px;
  	padding: 0px;
  	line-height: 23px;
}

.my-picture {
	display: inline-block;
}

.my-picture img {
	height: 60px;
}

.title {
	display: inline-block;
	vertical-align: top;
}

header {
	background-color: #fdfdfc;
	text-align: center;
	border-bottom: 1px solid #e7e6e6;
	padding-top: 14px;
	height: 70px;
}

.navbar {
	background-color: #fdfdfd;
	width: 10%;
	min-width: 100px;
	max-width: 150px;
	display: inline-block;
	padding: 25px 30px 20px;
	border: 1px solid #e8e8ea;
	margin-top: 55px;
	margin-left: 60px;
	border-radius: 6px;
	box-shadow: 0 1px 1px 1px rgba(237, 235, 232, 0.4);
}

ul.social-media {
	list-style: none;
	margin-left: 10px;
	padding-left: 20px;
}
.social-media li {
	border-bottom: 1px solid #b0afc0;
	padding: 10px;
	width: 200px;
}

.social-media li a{
	color: #4c4066;
	text-decoration: none;
	text-shadow: 1px 0px #ffffff;
	border-left: 7px solid #fdcc38;
	padding-left: 10px;
}

.social-media li a:hover {
	border-left-color: #a26cd2; 
}

.navbar strong {
	margin-left: 36px;
	color: #4c4066;
	font-size: 19px;
}

.main {
	display: inline-block;
	text-align:justify;
	width:50%;
	margin-left: 100px;
	margin-right: auto;
	vertical-align:top;
}


#bye {
	color: #1f1430;
}

a {
	color: #7a3cb7;
}

a:hover {
	color: #a26cd2;
}

footer {
	height: 250px;
	padding-top: 20px;
	padding-left: 30px;
	background-color: #1f1430;
	border-top: 1px solid #eeeeee;
	margin-top: 20px;
}

#slider {
	-webkit-transform:rotate(90deg);
	-moz-transform: rotate(90deg);
  	-ms-transform: rotate(90deg);
  	-o-transform: rotate(90deg);
  	transform: rotate(90deg);
	display:block;
  	margin-left:auto;
  	margin-right:auto;
  	margin-top: 10px;
  	padding-top: 10px;
}

#slider:onhover {
	animation-name: goodbye;
	animation-duration: 3s;
}

@key-frames goodbye {
	0% {
		opacity:1
	}
	25% {
		opacity: 0.75
	}
	50% {
		opacity: 0.5
	}
	75% {
		opacity:0.25
	}
	100% {
		opacity:0
	}
}
